
.icon-save:before { content: '\e800'; } /* '' */
.icon-edit:before { content: '\e801'; } /* '' */
.icon-cancel:before { content: '\e802'; } /* '' */
.icon-delete:before { content: '\e803'; } /* '' */
.icon-ok-circled2:before { content: '\e804'; } /* '' */