<div class="container-fluid home-container">
  <div class="row">
    <div class="col-12" *ngIf="(currentUser$ | async)">

      <div class="row mx-1 justify content-between" *ngIf="(currentUser$ | async)">
        <h2 class="widget-heading"> Root Cause Analysis:
          <span class="text-secondary">
            {{(routerParams$ | async).orgUnit ?
            (routerParams$ | async).orgUnit.name :
            (currentUser$ | async).organisationUnits[0].name}} -
            {{(routerParams$ | async).period ?
            (routerParams$ | async).period.name :
            (systemInfo$ | async).analysisRelativePeriod}}
          </span>
        </h2>

        <span class="ml-auto text-secondary">
          <i style="font-size:11px"> Right click row to edit/delete
          </i>
        </span>
      </div>


      <app-bna-widget [routerParams]="(routerParams$ | async)" [appAuthorities]="appAuthorities$ | async"
        [configuration]="configuration$ | async" [rootCauseAnalysisData]="rootCauseAnalysisData$ | async"
        [selectedOrgUnit]="(routerParams$ | async).orgUnit ?
                      (routerParams$ | async).orgUnit.name :
                      (currentUser$ | async).organisationUnits[0].name" [selectedPeriod]="(routerParams$ | async).period ?
                      (routerParams$ | async).period.name :
                      (systemInfo$ | async).analysisRelativePeriod">
      </app-bna-widget>
    </div>



  </div>
</div>
