<div class="container-fluid home-container">
  <div class="row">
    <div class="col-12">

      <div class="row mx-1 justify content-between" *ngIf="(currentUser$ | async)">
        <h2 class="widget-heading"> Root Cause Analysis:
          <span class="text-secondary">
            {{(routerParams$ | async).orgUnit ?
            (routerParams$ | async).orgUnit.name : (currentUser$ | async).organisationUnits[0].name}} -
            {{(routerParams$ | async).period ?
            (routerParams$ | async).period.name : LastYear}}
          </span>
        </h2>

        <span class="ml-auto text-secondary">
          <i style="font-size:11px"> Right click row to edit/delete
          </i>
        </span>
      </div>

      <!--{{(currentUser$ | async).organisationUnits[0].id}}-->

      <app-bna-widget [routerParams]="(routerParams$ | async)"
                      [selectedOrgUnit]="(routerParams$ | async).orgUnit ? (routerParams$ | async).orgUnit.name : ''"
                      [selectedPeriod]="(routerParams$ | async).period ? (routerParams$ | async).period.name : ''">
      </app-bna-widget>
    </div>



  </div>
</div>
