<div class="data-item-container" *ngIf="dataElement && dataValues">
    <div class="data-item-label" *ngIf="!isActive || dataElement.valueType == 'AUTO_FILLED'">
        {{dataValues[dataElement.id]}}
    </div>

    <mat-form-field appearance="outline" class="w-100 data-item-field"
        *ngIf="isActive && !dataElement.optionSetValue && dataElement.valueType=='TEXT'">
        <mat-label>{{dataElement.name}}</mat-label>
        <textarea matInput [value]="dataValues[dataElement.id]" rows="1" (blur)="onDataValueUpdate($event)"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100 data-item-field" *ngIf="isActive && dataElement.optionSetValue">
        <mat-label>{{dataElement.name}}</mat-label>
        <mat-select [value]="dataValues[dataElement.associatedId]" (selectionChange)="onDataValueUpdate($event, true)">
            <mat-option *ngFor="let selectionOption of selectionOptions" [value]="selectionOption.id"
                [disabled]="selectionOption.isDisabled">
                {{selectionOption.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
