<div class="data-item-container" *ngIf="dataElement && dataValues">
    <div class="data-item-label" *ngIf="!isActive || dataElement.valueType == 'AUTO_FILLED'">
        {{dataValues[dataElement.id]}}
    </div>

    <mat-form-field class="w-100" *ngIf="isActive && !dataElement.optionSetValue && dataElement.valueType=='TEXT'">
        <mat-label>{{dataElement.name}}</mat-label>
        <textarea matInput [value]="dataValues[dataElement.id]" (blur)="onDataValueUpdate($event)"></textarea>
    </mat-form-field>
</div>
