<table>
  <thead>
    <tr>
      <th> Orgunit </th>
      <th> Period </th>
      <th> Intervention </th>
      <th> Bottleneck </th>
      <th> Indicator </th>
      <th> Root cause </th>
      <th> Solution </th>
      <th> Actions </th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td class="global-filter-items">1</td>
        <td class="global-filter-items">2</td>
        <td class="global-filter-items">3</td>
        <td class="data-entry-items">
          <select name="bottleneck" id="bottleneck">
            <option value=""> Bottleneck </option>
          </select>
        </td>
        <td class="data-entry-items">
          <select name="indicator" id="indicator">
            <option value=""> Select Indicator </option>
          </select>
        </td>
        <td class="data-entry-items">
          <input type="text" placeholder="Enter root causes">
        </td>
        <td class="data-entry-items">
          <input type="text" placeholder="Enter solution">
        </td>
        <td class="pull-right">
          <button class="btn edit-button">
            <i class="icon-edit"> </i>Edit </button>
          <button class="btn delete-button"><i class="icon-trash-empty"> </i>Delete </button>
        </td>
      </tr>
  </tbody>
</table>

<div class="pull-left">
  <button> Add New </button>
</div>
