/* .widget-table-header {
  background-color: #276696;
  color: #ffffff;
} */

.auto-filled {
  background: #e8ebef;
}

.auto-filled-input {
  background-color: transparent;
  border: none;
  outline: none;
  pointer-events: none;
}

.auto-filled-label {
  background-color: transparent;
  border: none;
}

.table-cell-data {
  font-size: 13px !important;
  padding: 0.2rem !important;
  height: auto;
}

.table-header-cell {
  font-size: 13px;
}

.custom-text-area {
  /* width: 100% !important; */
  padding: 8px 5px !important;
  display: inline !important;
  resize: vertical;
}

.delete-message {
  text-align: center;
}

inActiveItem {
  pointer-events: none;
  border: none;
  outline: none;
}

.progress-block {
  display: flex;
  justify-content: space-around;
}

.progress-item {
  width: 100%;
}

.widget-notification {
  -webkit-animation: fadeOut 2s forwards;
  animation: fadeOut 2s forwards;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  padding: 10px;
  text-align: center;
}

.custom-done-icon {
  font-size: 13px;
  display: inline;
  float: right;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
