table{
  width: 98%;
  margin: 0 auto;
  border-spacing: 1px;
  border-color: darkgrey;
}

th {
  /*padding-left: 1%;*/
  padding: 1% 0% 1% 1%;
  background-color: #2560a6;
  color: white;
  font-weight: bold;
  width: 12.5%
}

.auto-filled {
  background: rgb(177, 174, 174);
}


td {
  padding-left: 1%;
}
.edit-button{
  background-color: rgba(10, 141, 10, 0.959);
}

.delete-button{
  background-color: rgb(180, 0, 0);
}

.btn {
  margin: 2% 1%;
  padding: 2% 2%;
  font-weight: bold;
  color: white;
  border: 0px solid #000000;
  border-radius: 2px;
}

.pull-right {
  float: right;
  margin: 10px 15px 0px 0px;
}

.pull-left {
  margin-right: auto !important;
}

inActiveItem {
  pointer-events: none;
  border: none;
  outline: none;
}