<table *ngIf="configuration$ | async as rootCauseAnalysisConfiguration;">
  <thead>
    <tr>
      <th [hidden]="dataElement.isHidden" *ngFor="let dataElement of rootCauseAnalysisConfiguration.dataElements;">
        {{dataElement.name}}
      </th>
      <th> Actions </th>
    </tr>
  </thead>
  <tbody *ngIf=" data$ | async as rootCauseAnalysisData;">
    <tr *ngFor="let dataItem of rootCauseAnalysisData ;  let i = index; trackBy:dataItem?.id">
      <td [hidden]="dataElement.isHidden" *ngFor="let dataElement of rootCauseAnalysisConfiguration.dataElements; let j = index"
        [ngClass]="{
          'auto-filled': dataElement.valueType == 'AUTO_FILLED',
          'select-box': dataElement.optionSetValue == true}">
        <span *ngIf="!dataItem.isActive && !dataElement.isHidden">{{dataItem.dataValues[dataElement.id]}}</span>
        <app-auto-filled-input *ngIf="dataItem.isActive && !dataElement.optionSetValue && dataElement.valueType == 'AUTO_FILLED'"
          [dataItemValue]="dataItem.dataValues[dataElement.id]" [dataElement]="dataElement" [orgUnit]="routerParams.orgUnit"
          [period]="routerParams.period" [dashboard]="routerParams.dashboard"></app-auto-filled-input>
        <app-select-box-input *ngIf="dataItem.isActive && dataElement.optionSetValue" [dataItemValue]="dataItem.dataValues[dataElement.id]"
          [dataElement]="dataElement"></app-select-box-input>
        <textarea *ngIf="dataItem.isActive && !dataElement.optionSetValue && dataElement.valueType == 'TEXT'" placeholder="{{dataElement.name}}"
          (keyup)="onDataValueUpdate($event, dataElement.id, dataItem)" autofocus>{{dataItem.dataValues[dataElement.id]}}</textarea>
      </td>

      <td>
        <button (click)="onToggleEdit(dataItem)" *ngIf="!dataItem.isActive"> Edit </button>
        <button (click)="onSaveRootCauseAnalysisData(dataItem, $event)" *ngIf="dataItem.isActive"> Save </button>

        <button> Delete </button>
      </td>
    </tr>
  </tbody>
</table>

<button *ngIf="(configuration$ | async)" class="pull-right"> Add New </button>